.header {
    display: flex;
    flex-direction: column;
    background: #D3D3D3;
    height: 150px;
    width: 100%;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__topBar {
    background-color: #1b253d;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-weight: 700;
    align-items: center;
}

.header__bottomBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}